*{
    padding: 0;
    margin: 0;
}

.header {
    background-color: green;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    color: white;
}
.left {
}
.right {
    display: flex;
    gap: 10px;
}

.main {
    background-color: rgb(191, 203, 191);
}
.footer {
    background-color: green;
    height: 60px;
}
